# Exploratory Data Analysis
Data Source URL: https://www.kaggle.com/hk7797/stock-market-india

Description: This dataset currently contains the 1-minute dataset of 150 NSE stock (50 Nifty stock, 100 Nifty Midcap stocks) and 9 indices starting from 2017–01–01.

NSE: National Stock Exchange is one of the major stock exchange in India.
Nifty: It is market index for NSE. 

#### We will only focus on highly liquid stocks, because volatility is important in day trading.

In [22]:
import os
import pandas as pd

In [23]:
data_dir = 'dataset\\'

master_df = pd.read_csv(data_dir+'FullDataCsv\master.csv')
master_df.head()

,tradingsymbol,name,instrument_type,segment,exchange,data_type,key,from,to
0,ADANIPORTS,ADANI PORT & SEZ,EQ,NSE,NSE,minute,ADANIPORTS__EQ__NSE__NSE__MINUTE,2017-01-01 00:00:00+05:30,2020-08-14 23:59:59+05:30
1,ASIANPAINT,ASIAN PAINTS,EQ,NSE,NSE,minute,ASIANPAINT__EQ__NSE__NSE__MINUTE,2017-01-01 00:00:00+05:30,2020-08-14 23:59:59+05:30
2,AXISBANK,AXIS BANK,EQ,NSE,NSE,minute,AXISBANK__EQ__NSE__NSE__MINUTE,2017-01-01 00:00:00+05:30,2020-08-14 23:59:59+05:30
3,BAJAJ-AUTO,BAJAJ AUTO,EQ,NSE,NSE,minute,BAJAJ_AUTO__EQ__NSE__NSE__MINUTE,2017-01-01 00:00:00+05:30,2020-08-14 23:59:59+05:30
4,BAJFINANCE,BAJAJ FINANCE,EQ,NSE,NSE,minute,BAJFINANCE__EQ__NSE__NSE__MINUTE,2017-01-01 00:00:00+05:30,2020-08-14 23:59:59+05:30

In [24]:
print(len(master_df))

159

We have one master.csv file, which contains symbol, company name, type of instrunemt, file name for particular stock, time period for one minute data.

In [25]:
print(master_df['instrument_type'].unique())
print(master_df['segment'].unique())
print(master_df['exchange'].unique())
print(master_df['data_type'].unique())
print(master_df['from'].unique())
print(master_df['to'].unique())

['EQ']
['NSE' 'INDICES']
['NSE']
['minute']
['2017-01-01 00:00:00+05:30' '2017-07-10 00:00:00+05:30'
 '2017-09-01 00:00:00+05:30' '2019-01-22 00:00:00+05:30'
 '2017-10-16 00:00:00+05:30' '2017-05-19 00:00:00+05:30'
 '2017-11-06 00:00:00+05:30' '2018-07-06 00:00:00+05:30'
 '2019-07-02 00:00:00+05:30' '2018-12-10 00:00:00+05:30']
['2020-08-14 23:59:59+05:30']

We can see that values for instrument_type, segment, exchange, data_type and to are only one, which is expected.
For few stocks, we have different starting time.

Stock file name pattern is tradingsymbol__instrument_type__segment__exchange__datatype.csv

## Available Indices

In [26]:
master_df[master_df['tradingsymbol'].str.contains('NIFTY')]

,tradingsymbol,name,instrument_type,segment,exchange,data_type,key,from,to
149,NIFTY 50,NIFTY 50,EQ,INDICES,NSE,minute,NIFTY_50__EQ__INDICES__NSE__MINUTE,2017-01-01 00:00:00+05:30,2020-08-14 23:59:59+05:30
150,NIFTY 100,NIFTY 100,EQ,INDICES,NSE,minute,NIFTY_100__EQ__INDICES__NSE__MINUTE,2017-01-01 00:00:00+05:30,2020-08-14 23:59:59+05:30
151,NIFTY 500,NaN,EQ,INDICES,NSE,minute,NIFTY_500__EQ__INDICES__NSE__MINUTE,2019-07-02 00:00:00+05:30,2020-08-14 23:59:59+05:30
152,NIFTY AUTO,NIFTY AUTO,EQ,INDICES,NSE,minute,NIFTY_AUTO__EQ__INDICES__NSE__MINUTE,2017-01-01 00:00:00+05:30,2020-08-14 23:59:59+05:30
153,NIFTY BANK,NIFTY BANK,EQ,INDICES,NSE,minute,NIFTY_BANK__EQ__INDICES__NSE__MINUTE,2017-01-01 00:00:00+05:30,2020-08-14 23:59:59+05:30
154,NIFTY COMMODITIES,NIFTY COMMODITIES,EQ,INDICES,NSE,minute,NIFTY_COMMODITIES__EQ__INDICES__NSE__MINUTE,2018-12-10 00:00:00+05:30,2020-08-14 23:59:59+05:30
155,NIFTY FIN SERVICE,NIFTY FIN SERVICE,EQ,INDICES,NSE,minute,NIFTY_FIN_SERVICE__EQ__INDICES__NSE__MINUTE,2017-01-01 00:00:00+05:30,2020-08-14 23:59:59+05:30
156,NIFTY ENERGY,NIFTY ENERGY,EQ,INDICES,NSE,minute,NIFTY_ENERGY__EQ__INDICES__NSE__MINUTE,2017-01-01 00:00:00+05:30,2020-08-14 23:59:59+05:30
157,NIFTY MIDCAP 100,NIFTY MIDCAP 100,EQ,INDICES,NSE,minute,NIFTY_MIDCAP_100__EQ__INDICES__NSE__MINUTE,2018-12-10 00:00:00+05:30,2020-08-14 23:59:59+05:30

We have data of 9 indices, we will focus only on NIFTY 50 because it represents top 50 stocks which have more market capitalization and liquidity.

# Filter Nifty 50 Stocks
I have download symbols for nifty 50 stocks and we will use it to filter.

In [27]:
nifty50_details_df = pd.read_csv(data_dir+'nifty50.csv')
nifty50_details_df.head(10)

,Company Name,Industry,Symbol,Series,ISIN Code
0,Adani Ports and Special Economic Zone Ltd.,SERVICES,ADANIPORTS,EQ,INE742F01042
1,Asian Paints Ltd.,CONSUMER GOODS,ASIANPAINT,EQ,INE021A01026
2,Axis Bank Ltd.,FINANCIAL SERVICES,AXISBANK,EQ,INE238A01034
3,Bajaj Auto Ltd.,AUTOMOBILE,BAJAJ-AUTO,EQ,INE917I01010
4,Bajaj Finance Ltd.,FINANCIAL SERVICES,BAJFINANCE,EQ,INE296A01024
5,Bajaj Finserv Ltd.,FINANCIAL SERVICES,BAJAJFINSV,EQ,INE918I01018
6,Bharat Petroleum Corporation Ltd.,ENERGY,BPCL,EQ,INE029A01011
7,Bharti Airtel Ltd.,TELECOM,BHARTIARTL,EQ,INE397D01024
8,Bharti Infratel Ltd.,TELECOM,INFRATEL,EQ,INE121J01017
9,Britannia Industries Ltd.,CONSUMER GOODS,BRITANNIA,EQ,INE216A01030

In [28]:
nifty50_df = master_df[master_df['tradingsymbol'].isin(nifty50_details_df['Symbol'])]
print(len(nifty50_df))
nifty50_df.head(10)

49

,tradingsymbol,name,instrument_type,segment,exchange,data_type,key,from,to
0,ADANIPORTS,ADANI PORT & SEZ,EQ,NSE,NSE,minute,ADANIPORTS__EQ__NSE__NSE__MINUTE,2017-01-01 00:00:00+05:30,2020-08-14 23:59:59+05:30
1,ASIANPAINT,ASIAN PAINTS,EQ,NSE,NSE,minute,ASIANPAINT__EQ__NSE__NSE__MINUTE,2017-01-01 00:00:00+05:30,2020-08-14 23:59:59+05:30
2,AXISBANK,AXIS BANK,EQ,NSE,NSE,minute,AXISBANK__EQ__NSE__NSE__MINUTE,2017-01-01 00:00:00+05:30,2020-08-14 23:59:59+05:30
3,BAJAJ-AUTO,BAJAJ AUTO,EQ,NSE,NSE,minute,BAJAJ_AUTO__EQ__NSE__NSE__MINUTE,2017-01-01 00:00:00+05:30,2020-08-14 23:59:59+05:30
4,BAJFINANCE,BAJAJ FINANCE,EQ,NSE,NSE,minute,BAJFINANCE__EQ__NSE__NSE__MINUTE,2017-01-01 00:00:00+05:30,2020-08-14 23:59:59+05:30
5,BAJAJFINSV,BAJAJ FINSERV,EQ,NSE,NSE,minute,BAJAJFINSV__EQ__NSE__NSE__MINUTE,2017-01-01 00:00:00+05:30,2020-08-14 23:59:59+05:30
6,BPCL,BHARAT PETROLEUM CORP LT,EQ,NSE,NSE,minute,BPCL__EQ__NSE__NSE__MINUTE,2017-01-01 00:00:00+05:30,2020-08-14 23:59:59+05:30
7,BHARTIARTL,BHARTI AIRTEL,EQ,NSE,NSE,minute,BHARTIARTL__EQ__NSE__NSE__MINUTE,2017-01-01 00:00:00+05:30,2020-08-14 23:59:59+05:30
8,INFRATEL,BHARTI INFRATEL,EQ,NSE,NSE,minute,INFRATEL__EQ__NSE__NSE__MINUTE,2017-01-01 00:00:00+05:30,2020-08-14 23:59:59+05:30
9,BRITANNIA,BRITANNIA INDUSTRIES,EQ,NSE,NSE,minute,BRITANNIA__EQ__NSE__NSE__MINUTE,2017-01-01 00:00:00+05:30,2020-08-14 23:59:59+05:30

We got data of 49 stocks, only 1 is missing, so for the sake of simplicity, we can ignore it.

In [29]:
nifty50_df_2 = nifty50_df.drop(columns=['instrument_type','segment','exchange','data_type'])
nifty50_df_2.head()

,tradingsymbol,name,key,from,to
0,ADANIPORTS,ADANI PORT & SEZ,ADANIPORTS__EQ__NSE__NSE__MINUTE,2017-01-01 00:00:00+05:30,2020-08-14 23:59:59+05:30
1,ASIANPAINT,ASIAN PAINTS,ASIANPAINT__EQ__NSE__NSE__MINUTE,2017-01-01 00:00:00+05:30,2020-08-14 23:59:59+05:30
2,AXISBANK,AXIS BANK,AXISBANK__EQ__NSE__NSE__MINUTE,2017-01-01 00:00:00+05:30,2020-08-14 23:59:59+05:30
3,BAJAJ-AUTO,BAJAJ AUTO,BAJAJ_AUTO__EQ__NSE__NSE__MINUTE,2017-01-01 00:00:00+05:30,2020-08-14 23:59:59+05:30
4,BAJFINANCE,BAJAJ FINANCE,BAJFINANCE__EQ__NSE__NSE__MINUTE,2017-01-01 00:00:00+05:30,2020-08-14 23:59:59+05:30

In [30]:
nifty50_df_2['from'].unique()

array(['2017-01-01 00:00:00+05:30'], dtype=object)

We can see that we have unique from and to values for all the 49 stocks. That's a good sign.

## Analyze Particular Stock's Data

In [37]:
symbol = 'ASIANPAINT'

file_path = data_dir+'FullDataCsv\\'+nifty50_df_2[nifty50_df_2['tradingsymbol'] == symbol]['key'].iloc[0] +'.csv'
stock_df = pd.read_csv(file_path)
stock_df.head()

                   timestamp    open    high     low  close    volume
0  2017-01-02 09:15:00+05:30  892.55  893.10  891.05  893.0    7599.0
1  2017-01-02 09:16:00+05:30  893.95  894.85  893.20  893.8    3384.0
2  2017-01-02 09:17:00+05:30  893.40  893.95  893.00  893.2    2638.0
3  2017-01-02 09:18:00+05:30  892.25  893.20  891.75  892.5  103839.0
4  2017-01-02 09:19:00+05:30  893.00  893.65  892.70  893.5    1696.0

Values are in Indian Rupees. Volume represents number of shares traded in one minute.

In [38]:
print("Size:", len(stock_df))

Size: 334485

In [39]:
stock_df['timestamp'] = pd.to_datetime(stock_df['timestamp'])
stock_df_groups = stock_df.groupby(pd.DatetimeIndex(stock_df['timestamp']).normalize())
print("Number of Days:", len(stock_df_groups))

Number of Days: 895

So, we have almost more than 2.5 years of one minute data.

## Analyze Nifty 50 Index Data

In [40]:
symbol = 'NIFTY 50'

file_path = data_dir+'FullDataCsv\\NIFTY_50__EQ__INDICES__NSE__MINUTE.csv'
nifty_df = pd.read_csv(file_path)
nifty_df.head()

                   timestamp     open     high      low    close  volume
0  2017-01-02 09:15:00+05:30  8210.10  8211.70  8189.00  8189.55     0.0
1  2017-01-02 09:16:00+05:30  8188.75  8193.95  8188.75  8189.95     0.0
2  2017-01-02 09:17:00+05:30  8190.15  8190.75  8173.70  8173.70     0.0
3  2017-01-02 09:18:00+05:30  8173.35  8177.55  8169.15  8177.55     0.0
4  2017-01-02 09:19:00+05:30  8177.85  8178.15  8173.45  8174.40     0.0

In [41]:
print("Size:", len(nifty_df))

Size: 334680

In [42]:
nifty_df['timestamp'] = pd.to_datetime(nifty_df['timestamp'])
nifty_df_groups = nifty_df.groupby(pd.DatetimeIndex(nifty_df['timestamp']).normalize())
print("Number of Days:", len(nifty_df_groups))

Number of Days: 895

Here, we can see that number of days are equal for stocks and nifty index value, but one minute data is more for index value.
Let's see which are the different values.

In [43]:
stock_timestamp = set(stock_df['timestamp'])
nifty_timestamp = set(nifty_df['timestamp'])

all_timestamp = stock_timestamp.union(nifty_timestamp)
common_timestamp = stock_timestamp.intersection(nifty_timestamp)

missing_timestamp = all_timestamp - common_timestamp
print(len(missing_timestamp))
for t in missing_timestamp:
    print(t)

195
2017-07-10 12:08:00+05:30
2017-07-10 10:51:00+05:30
2017-07-10 10:32:00+05:30
2017-07-10 10:13:00+05:30
2017-07-10 11:49:00+05:30
2017-07-10 11:18:00+05:30
2017-07-10 10:59:00+05:30
2017-07-10 10:40:00+05:30
2017-07-10 09:23:00+05:30
2017-07-10 11:33:00+05:30
2017-07-10 10:55:00+05:30
2017-07-10 09:57:00+05:30
2017-07-10 09:19:00+05:30
2017-07-10 09:38:00+05:30
2017-07-10 11:14:00+05:30
2017-07-10 09:42:00+05:30
2017-07-10 12:03:00+05:30
2017-07-10 11:44:00+05:30
2017-07-10 11:25:00+05:30
2017-07-10 12:18:00+05:30
2017-07-10 10:08:00+05:30
2017-07-10 11:59:00+05:30
2017-07-10 10:27:00+05:30
2017-07-10 11:40:00+05:30
2017-07-10 12:26:00+05:30
2017-07-10 09:18:00+05:30
2017-07-10 10:50:00+05:30
2017-07-10 10:31:00+05:30
2017-07-10 12:07:00+05:30
2017-07-10 09:33:00+05:30
2017-07-10 11:09:00+05:30
2017-07-10 10:46:00+05:30
2017-07-10 11:39:00+05:30
2017-07-10 11:20:00+05:30
2017-07-10 10:03:00+05:30
2017-07-10 11:54:00+05:30
2017-07-10 11:35:00+05:30
2017-07-10 11:16:00+05:30
2017-07-10 11:01:00+05:30
2017-07-10 10:45:00+05:30
2017-07-10 10:26:00+05:30
2017-07-10 10:07:00+05:30
2017-07-10 11:58:00+05:30
2017-07-10 10:41:00+05:30
2017-07-10 10:22:00+05:30
2017-07-10 09:24:00+05:30
2017-07-10 11:15:00+05:30
2017-07-10 12:28:00+05:30
2017-07-10 11:11:00+05:30
2017-07-10 10:52:00+05:30
2017-07-10 09:35:00+05:30
2017-07-10 09:16:00+05:30
2017-07-10 09:54:00+05:30
2017-07-10 11:30:00+05:30
2017-07-10 11:53:00+05:30
2017-07-10 10:36:00+05:30
2017-07-10 10:17:00+05:30
2017-07-10 09:58:00+05:30
2017-07-10 11:34:00+05:30
2017-07-10 12:23:00+05:30
2017-07-10 12:04:00+05:30
2017-07-10 11:06:00+05:30
2017-07-10 10:28:00+05:30
2017-07-10 09:30:00+05:30
2017-07-10 11:02:00+05:30
2017-07-10 10:43:00+05:30
2017-07-10 12:19:00+05:30
2017-07-10 11:21:00+05:30
2017-07-10 10:47:00+05:30
2017-07-10 11:48:00+05:30
2017-07-10 10:12:00+05:30
2017-07-10 09:53:00+05:30
2017-07-10 09:34:00+05:30
2017-07-10 09:49:00+05:30
2017-07-10 10:42:00+05:30
2017-07-10 10:23:00+05:30
2017-07-10 10:04:00+05:30
2017-07-10 11:55:00+05:30
2017-07-10 10:57:00+05:30
2017-07-10 10:19:00+05:30
2017-07-10 12:29:00+05:30
2017-07-10 12:10:00+05:30
2017-07-10 10:38:00+05:30
2017-07-10 12:14:00+05:30
2017-07-10 09:48:00+05:30
2017-07-10 09:29:00+05:30
2017-07-10 09:44:00+05:30
2017-07-10 09:25:00+05:30
2017-07-10 10:18:00+05:30
2017-07-10 09:59:00+05:30
2017-07-10 11:50:00+05:30
2017-07-10 11:31:00+05:30
2017-07-10 10:14:00+05:30
2017-07-10 12:24:00+05:30
2017-07-10 09:55:00+05:30
2017-07-10 12:05:00+05:30
2017-07-10 10:33:00+05:30
2017-07-10 12:09:00+05:30
2017-07-10 11:46:00+05:30
2017-07-10 10:56:00+05:30
2017-07-10 10:37:00+05:30
2017-07-10 09:20:00+05:30
2017-07-10 09:39:00+05:30
2017-07-10 11:45:00+05:30
2017-07-10 11:26:00+05:30
2017-07-10 11:07:00+05:30
2017-07-10 10:09:00+05:30
2017-07-10 09:31:00+05:30
2017-07-10 11:41:00+05:30
2017-07-10 10:05:00+05:30
2017-07-10 09:46:00+05:30
2017-07-10 11:22:00+05:30
2017-07-10 10:24:00+05:30
2017-07-10 09:50:00+05:30
2017-07-10 12:00:00+05:30
2017-07-10 09:15:00+05:30
2017-07-10 09:45:00+05:30
2017-07-10 09:26:00+05:30
2017-07-10 11:36:00+05:30
2017-07-10 10:00:00+05:30
2017-07-10 09:41:00+05:30
2017-07-10 11:51:00+05:30
2017-07-10 11:13:00+05:30
2017-07-10 11:17:00+05:30
2017-07-10 09:22:00+05:30
2017-07-10 11:32:00+05:30
2017-07-10 10:58:00+05:30
2017-07-10 12:21:00+05:30
2017-07-10 12:02:00+05:30
2017-07-10 09:21:00+05:30
2017-07-10 11:12:00+05:30
2017-07-10 10:53:00+05:30
2017-07-10 10:34:00+05:30
2017-07-10 09:17:00+05:30
2017-07-10 11:27:00+05:30
2017-07-10 11:08:00+05:30
2017-07-10 09:36:00+05:30
2017-07-10 10:49:00+05:30
2017-07-10 12:25:00+05:30
2017-07-10 11:57:00+05:30
2017-07-10 09:40:00+05:30
2017-07-10 10:48:00+05:30
2017-07-10 10:29:00+05:30
2017-07-10 10:10:00+05:30
2017-07-10 12:01:00+05:30
2017-07-10 11:03:00+05:30
2017-07-10 10:25:00+05:30
2017-07-10 09:27:00+05:30
2017-07-10 12:16:00+05:30
2017-07-10 10:44:00+05:30
2017-07-10 12:20:00+05:30
2017-07-10 11:29:00+05:30
2017-07-10 11:10:00+05:30
2017-07-10 12:15:00+05:30
2017-07-10 11:56:00+05:30
2017-07-10 10:39:00+05:30
2017-07-10 10:20:00+05:30
2017-07-10 10:01:00+05:30
2017-07-10 11:52:00+05:30
2017-07-10 10:54:00+05:30
2017-07-10 10:16:00+05:30
2017-07-10 10:35:00+05:30
2017-07-10 12:11:00+05:30
2017-07-10 11:37:00+05:30
2017-07-10 12:22:00+05:30
2017-07-10 11:05:00+05:30
2017-07-10 11:24:00+05:30
2017-07-10 10:15:00+05:30
2017-07-10 09:56:00+05:30
2017-07-10 09:37:00+05:30
2017-07-10 11:47:00+05:30
2017-07-10 10:11:00+05:30
2017-07-10 09:52:00+05:30
2017-07-10 11:43:00+05:30
2017-07-10 11:28:00+05:30
2017-07-10 11:23:00+05:30
2017-07-10 10:30:00+05:30
2017-07-10 12:06:00+05:30
2017-07-10 12:17:00+05:30
2017-07-10 11:00:00+05:30
2017-07-10 12:13:00+05:30
2017-07-10 09:51:00+05:30
2017-07-10 09:32:00+05:30
2017-07-10 11:42:00+05:30
2017-07-10 11:04:00+05:30
2017-07-10 10:06:00+05:30
2017-07-10 09:28:00+05:30
2017-07-10 11:38:00+05:30
2017-07-10 10:02:00+05:30
2017-07-10 09:43:00+05:30
2017-07-10 11:19:00+05:30
2017-07-10 10:21:00+05:30
2017-07-10 09:47:00+05:30
2017-07-10 12:12:00+05:30
2017-07-10 12:27:00+05:30

## Find missing values for all the stocks

In [53]:
stock_wise_missing_values = {}

file_path = data_dir+'FullDataCsv\\NIFTY_50__EQ__INDICES__NSE__MINUTE.csv'
nifty_df = pd.read_csv(file_path)
nifty_timestamp = set(nifty_df['timestamp'])

for file_path in nifty50_df_2['key']:
    file_path = data_dir+'FullDataCsv\\'+file_path+'.csv'
    stock_df = pd.read_csv(file_path)
    # stock_df['timestamp'] = pd.to_datetime(stock_df['timestamp'])
    
    stock_timestamp = set(stock_df['timestamp'])
    
    all_timestamp = stock_timestamp.union(nifty_timestamp)
    common_timestamp = stock_timestamp.intersection(nifty_timestamp)

    missing_timestamp = all_timestamp - common_timestamp
    stock_wise_missing_values[file_path] = missing_timestamp
    
    print(file_path, len(missing_timestamp))

dataset\FullDataCsv\ADANIPORTS__EQ__NSE__NSE__MINUTE.csv 195
dataset\FullDataCsv\ASIANPAINT__EQ__NSE__NSE__MINUTE.csv 195
dataset\FullDataCsv\AXISBANK__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\BAJAJ_AUTO__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\BAJFINANCE__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\BAJAJFINSV__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\BPCL__EQ__NSE__NSE__MINUTE.csv 195
dataset\FullDataCsv\BHARTIARTL__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\INFRATEL__EQ__NSE__NSE__MINUTE.csv 195
dataset\FullDataCsv\BRITANNIA__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\CIPLA__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\COALINDIA__EQ__NSE__NSE__MINUTE.csv 195
dataset\FullDataCsv\DRREDDY__EQ__NSE__NSE__MINUTE.csv 195
dataset\FullDataCsv\EICHERMOT__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\GAIL__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\GRASIM__EQ__NSE__NSE__MINUTE.csv 225
dataset\FullDataCsv\HCLTECH__EQ__NSE__NSE__MINUTE.csv 195
dataset\FullDataCsv\HDFCBANK__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\HEROMOTOCO__EQ__NSE__NSE__MINUTE.csv 195
dataset\FullDataCsv\HINDALCO__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\HINDUNILVR__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\HDFC__EQ__NSE__NSE__MINUTE.csv 195
dataset\FullDataCsv\ICICIBANK__EQ__NSE__NSE__MINUTE.csv 195
dataset\FullDataCsv\ITC__EQ__NSE__NSE__MINUTE.csv 195
dataset\FullDataCsv\IOC__EQ__NSE__NSE__MINUTE.csv 195
dataset\FullDataCsv\INDUSINDBK__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\INFY__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\JSWSTEEL__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\KOTAKBANK__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\LT__EQ__NSE__NSE__MINUTE.csv 195
dataset\FullDataCsv\M_M__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\MARUTI__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\NTPC__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\ONGC__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\POWERGRID__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\RELIANCE__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\SBIN__EQ__NSE__NSE__MINUTE.csv 195
dataset\FullDataCsv\SUNPHARMA__EQ__NSE__NSE__MINUTE.csv 195
dataset\FullDataCsv\TCS__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\TATAMOTORS__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\TATASTEEL__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\TECHM__EQ__NSE__NSE__MINUTE.csv 195
dataset\FullDataCsv\TITAN__EQ__NSE__NSE__MINUTE.csv 195
dataset\FullDataCsv\UPL__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\ULTRACEMCO__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\VEDL__EQ__NSE__NSE__MINUTE.csv 195
dataset\FullDataCsv\WIPRO__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\YESBANK__EQ__NSE__NSE__MINUTE.csv 196
dataset\FullDataCsv\ZEEL__EQ__NSE__NSE__MINUTE.csv 196

For most of the stocks, 195-196 values are missing. Let's check whether the date is same for all values or not.

In [59]:
stock_wise_days = {}

for file_path, values in stock_wise_missing_values.items():
    df = pd.DataFrame(values, columns=['timestamp'])
    df['timestamp'] = pd.to_datetime(df['timestamp'])
    df_groups = df.groupby(pd.DatetimeIndex(df['timestamp']).normalize())
    
    days = df_groups.groups.keys()
    #print(file_path, days)
    stock_wise_days[file_path] = days
    
print(len(stock_wise_days))
    
for path, day in stock_wise_days.items():
    print(path, day)

49
dataset\FullDataCsv\ADANIPORTS__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\ASIANPAINT__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\AXISBANK__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\BAJAJ_AUTO__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\BAJFINANCE__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\BAJAJFINSV__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\BPCL__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\BHARTIARTL__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\INFRATEL__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\BRITANNIA__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\CIPLA__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\COALINDIA__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\DRREDDY__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\EICHERMOT__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\GAIL__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\GRASIM__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2017-07-19 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\HCLTECH__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\HDFCBANK__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\HEROMOTOCO__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\HINDALCO__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\HINDUNILVR__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\HDFC__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\ICICIBANK__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\ITC__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\IOC__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\INDUSINDBK__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\INFY__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\JSWSTEEL__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\KOTAKBANK__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\LT__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\M_M__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\MARUTI__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\NTPC__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\ONGC__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\POWERGRID__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\RELIANCE__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\SBIN__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\SUNPHARMA__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\TCS__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\TATAMOTORS__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\TATASTEEL__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\TECHM__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\TITAN__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\UPL__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\ULTRACEMCO__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\VEDL__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\WIPRO__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\YESBANK__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])
dataset\FullDataCsv\ZEEL__EQ__NSE__NSE__MINUTE.csv dict_keys([Timestamp('2017-07-10 00:00:00+0530', tz='pytz.FixedOffset(330)'), Timestamp('2020-04-27 00:00:00+0530', tz='pytz.FixedOffset(330)')])

For all stocks, data for 2017-07-10 are missing, except for Grasim, for it, data for 2020-04-27 are missing. So, we will drop samples for missing dates.

# Correlation Between Market Index and Stock Price
Here, we will try to identify correlation of daily movment for all the stocks.

In [64]:
file_path = data_dir+'FullDataCsv\\NIFTY_50__EQ__INDICES__NSE__MINUTE.csv'

nifty_df = pd.read_csv(file_path)
nifty_df = nifty_df[~nifty_df['timestamp'].str.contains('2017-07-10')]

correlations = {}

for file_path in nifty50_df_2['key']:
    symbol = file_path[:file_path.index("_")]

    # We will ignore Grasim for simplicity.
    if symbol == 'GRASIM':
        continue
    
    file_path = data_dir+'FullDataCsv\\'+file_path+'.csv'
    
    stock_df = pd.read_csv(file_path)
    stock_df = stock_df[~stock_df['timestamp'].str.contains('2017-07-10')]
    
    corr = nifty_df['close'].corr(stock_df['close'])
    correlations[symbol] = corr
    
    # print(symbol, corr)

In [65]:
corr_df = pd.DataFrame(correlations.items(), columns=['Symbol', 'Correlation'])
corr_df.sort_values(by='Correlation', ascending=False).reset_index().head(50)

    index      Symbol  Correlation
0      16    HDFCBANK     0.928954
1      20        HDFC     0.912508
2       5  BAJAJFINSV     0.898158
3      27   KOTAKBANK     0.826842
4      41       TITAN     0.824263
5       4  BAJFINANCE     0.820700
6       2    AXISBANK     0.811586
7      40       TECHM     0.805699
8      45       WIPRO     0.779111
9      21   ICICIBANK     0.777001
10     37         TCS     0.749708
11     28          LT     0.739987
12     15     HCLTECH     0.702501
13     25        INFY     0.685331
14      9   BRITANNIA     0.676732
15     34    RELIANCE     0.657560
16      0  ADANIPORTS     0.591251
17     43  ULTRACEMCO     0.591222
18     19  HINDUNILVR     0.584685
19      1  ASIANPAINT     0.574897
20     26    JSWSTEEL     0.563373
21     35        SBIN     0.526090
22     42         UPL     0.523343
23      3       BAJAJ     0.441355
24     24  INDUSINDBK     0.308920
25     30      MARUTI     0.305238
26     18    HINDALCO     0.278553
27     14        GAIL     0.226427
28     29           M     0.172008
29     22         ITC     0.146067
30     39   TATASTEEL     0.063236
31     33   POWERGRID     0.049664
32      7  BHARTIARTL     0.007692
33      6        BPCL    -0.000389
34     31        NTPC    -0.049859
35     12     DRREDDY    -0.066751
36     13   EICHERMOT    -0.138071
37     32        ONGC    -0.139983
38     11   COALINDIA    -0.193782
39     47        ZEEL    -0.208326
40     10       CIPLA    -0.234783
41     44        VEDL    -0.248543
42     17  HEROMOTOCO    -0.249245
43     23         IOC    -0.264607
44      8    INFRATEL    -0.283081
45     46     YESBANK    -0.300722
46     36   SUNPHARMA    -0.492464
47     38  TATAMOTORS    -0.508219

We can see that banking companies and some others are moving with market. So, we can consider market movement for these stocks.

# Correlation Between Volume and Price

In [66]:
volume_correlations = {}

for file_path in nifty50_df_2['key']:
    symbol = file_path[:file_path.index("_")]

    # We will ignore grasim for simplicity.
    if symbol == 'GRASIM':
        continue
    
    file_path = data_dir+'FullDataCsv\\'+file_path+'.csv'
    
    stock_df = pd.read_csv(file_path)
    stock_df = stock_df[~stock_df['timestamp'].str.contains('2017-07-10')]
    
    corr = stock_df['close'].corr(stock_df['volume'])
    volume_correlations[symbol] = corr

In [67]:
volume_corr_df = pd.DataFrame(volume_correlations.items(), columns=['Symbol', 'Correlation'])
volume_corr_df.sort_values(by='Correlation', ascending=False).reset_index().head(50)

    index      Symbol  Correlation
0       7  BHARTIARTL     0.158777
1      34    RELIANCE     0.145984
2       1  ASIANPAINT     0.143932
3       9   BRITANNIA     0.142836
4      15     HCLTECH     0.133156
5      45       WIPRO     0.085482
6      12     DRREDDY     0.077105
7      10       CIPLA     0.064027
8       4  BAJFINANCE     0.058875
9      41       TITAN     0.054004
10     16    HDFCBANK     0.036972
11     19  HINDUNILVR     0.012126
12     40       TECHM     0.010033
13     27   KOTAKBANK     0.007251
14     37         TCS     0.006111
15     21   ICICIBANK     0.005598
16      5  BAJAJFINSV    -0.001305
17     20        HDFC    -0.007523
18     43  ULTRACEMCO    -0.010022
19     25        INFY    -0.016307
20      8    INFRATEL    -0.028608
21      6        BPCL    -0.045792
22     33   POWERGRID    -0.052141
23      0  ADANIPORTS    -0.053507
24     26    JSWSTEEL    -0.061101
25      3       BAJAJ    -0.067748
26     23         IOC    -0.085272
27     42         UPL    -0.104039
28     18    HINDALCO    -0.106561
29     28          LT    -0.111645
30     36   SUNPHARMA    -0.112291
31     31        NTPC    -0.123716
32     29           M    -0.127086
33     11   COALINDIA    -0.140936
34     44        VEDL    -0.162035
35     22         ITC    -0.164040
36      2    AXISBANK    -0.168242
37     32        ONGC    -0.170955
38     35        SBIN    -0.200858
39     30      MARUTI    -0.209946
40     17  HEROMOTOCO    -0.217325
41     39   TATASTEEL    -0.222353
42     14        GAIL    -0.235577
43     46     YESBANK    -0.254814
44     13   EICHERMOT    -0.270007
45     38  TATAMOTORS    -0.336795
46     47        ZEEL    -0.358815
47     24  INDUSINDBK    -0.483328

We can see that volume is not correlated with price much.

# Data Manipulations

- We will consider data of one day as one sample. For example, data from 09:15:00 to 11:00:00 will be considered as features. After 11:00, high and low values will be our output.
- We will rescale data between 0 to 1 for each day for each stock, so for every day, we will apply min max scalar rather than on all values for particular stock. For example, ASIANPAINTS -> 2017-01-01,  2017-01-02,  2017-01-03,... and so on.
- Above example says that we will rescale for each day for each stock, because we are working for intraday trading.

# Feature Engineering

We can calculate simple moving averages to improve accuracy of our models.

# Modeling Techniques
- We will make models for each stock. There will be two models, one for predicting low and another for predicting high.
- Will try to use RNN and LSTM.
- Will also try to convert it to classification problem.